# Clase 4

Notas de la clase: 
- En la practica, las variables se tienen que elegir mediante intuici√≥n y no se tiene que poner a competir las variables (Esto es seleccionar variables sin entender por que se estan seleccionado)
-

## Retiro temprano con Keras

Se realizo el ejercicio del retiro temprano pero utilizando ahora Keras

In [36]:
#librerias tipicas 
import pandas as pd 
import numpy as np
import os 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from pathlib import Path
import openpyxl

# Configurar pandas para mostrar 2 decimales
pd.set_option('display.float_format', '{:.2f}'.format)

#librerias relacionadas con la red neuronal
from keras.models import Sequential
from keras.layers import Dense

In [37]:
BASE_DIR = Path().resolve()

while not (BASE_DIR / "Clases").exists():
    BASE_DIR = BASE_DIR.parent

In [38]:
BASE_DIR

WindowsPath('C:/Users/PC/Documents/DocumentosGustavo/Github/Maestria/DeepLearning-')

In [40]:
# Importamos el documento
ERDB = pd.read_excel(BASE_DIR / "Clases" /"Clase2"/"EarlyRetirementPrediction.csv.xlsx")
ERDB.head()

   ClienteID  Retire Before 65 Years Old  ...  Credit Score  Government Bonds Return
0          1                           1  ...           699                     7.72
1          2                           0  ...           639                     5.41
2          3                           0  ...           610                     7.96
3          4                           0  ...           649                     7.72
4          5                           0  ...           638                     8.02

[5 rows x 13 columns]

In [41]:
#definimos el conjunto de entramiento y el conjunto de prueba 
train, test = train_test_split(ERDB, test_size=0.2, random_state=42)

In [ ]:
# train_xtrain = [["Gender", ]]